<%- include('includes/head.ejs'); %>
  <section>
    <h1>Lorem normal</h1>
    <form action="/" method="POST">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
      <label for="">Cliente</label>
      <input type="text" name="client">
      <button type="submit">ENVIAR</button>
    </form>
<%- include('includes/footer.ejs'); %>
